<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCB-DAg0H3z7DxReabmhP3bA3Q4S7gDR2s</string>
	<key>GCM_SENDER_ID</key>
	<string>27331798126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grupogen.rutaGenApp</string>
	<key>PROJECT_ID</key>
	<string>ruta-gen</string>
	<key>STORAGE_BUCKET</key>
	<string>ruta-gen.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27331798126:ios:c348091daa12a500b0f27f</string>
</dict>
</plist>